body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #fa8704, #0972eb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 350px; /* Diminuir a largura da caixa principal */
    max-height: 90vh; /* Garantir que a caixa não exceda a altura da tela */
    overflow-y: auto; /* Adicionar rolagem vertical */
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

h2 {
    text-align: center;
    margin-bottom: 15px; /* Diminuir a margem inferior */
    color: #333;
    font-weight: 600;
}

.form-group {
    background-color: #f7f7f7;
    padding: 15px; /* Diminuir o padding */
    margin-bottom: 10px; /* Diminuir a margem inferior */
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

input, textarea, select {
    width: 100%;
    padding: 8px; /* Diminuir o padding */
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #2ebf91;
    box-shadow: 0 0 5px rgba(46, 191, 145, 0.5);
}

button {
    width: 100%;
    padding: 12px; /* Diminuir o padding */
    background-color: #2ebf91;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #249d76;
    transform: translateY(-2px);
}